<h1>Admin Dashboard</h1>

<ul class="list-group">
  <li class="list-group-item">Total Categories: <%= @category_count %></li>
  <li class="list-group-item">Total Products: <%= @product_count %></li>
</ul>

<h5><%= link_to 'Products', [:admin, :products] %></h5>
